<body>
  <div class="container-fluid d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
      <div class="d-flex flex-row align-items-center">
        <!-- Coluna da imagem -->
        <div class="col-md-6 d-none d-md-block">
          <img class="img-fluid" src="/img/Learning-bro (1) 1.png" alt="Ilustração">
        </div>

        <!-- Coluna do login -->
        <div class="col-md-6">
          <div class="login text-center">
            <img src="/Logo.svg" alt="Logo">
            <p>Guia do Mochileiro <br> Fatecano</p>
            <form>
              <div class="mb-3 text-start">
                <label for="exampleInputEmail1" class="form-label">Email </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3 text-start">
                <label for="exampleInputPassword1" class="form-label">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <button type="button" class="btn btn-primary w-100" (click)="navigateToHome()">
                Entrar
              </button>
              <p class="cadastrar mt-3">Ainda não possui conta? <a href="/cadastrar">Cadastrar-se</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
