.container-fluid {
    height: 100%;
}

.container {
    height: auto;
    padding: 40px 20px;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.login p {
    font-family: "Poppins", sans-serif;
    color: #263238;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

form .cadastrar {
    color: var(--gray-gray-color-400, #858E97);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
}

form .cadastrar a {
    color: #21BC6B;
    text-decoration: none;
}

form .form-label {
    color: #ACB5BE;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login button {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    background-color: #21BC6B;
    text-decoration: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login button p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none;
    text-align: center;
    margin: 0px;
}

.login button a {
    text-decoration: none;
    width: 100%;
    display: block;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .login button {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container {
        display: block;
    }

    .login {
        width: 100%;
    }
}
