

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="d-sm-block d-none">
                <img class="img-fluid d-sm-block d-none" src="\img\Learning-bro (1) 1.png">
            </div>
            <div class="login">
                <img src="\Logo.svg">
                <p> Guia do Muchileiro <br> Fatecano</p>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email </label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="button" class="btn btn-primary" (click)="navigateToHome()" routerLink="./home">
                        <a href="/home">
                            <p>Entrar</p>                  

                        </a>
                    </button>
                    <p class="cadastrar" > Ainda não possui conta? <a href="/cadastrar">Cadastrar-se</a></p>
                </form>

            </div>
        </div>

    </div>
    
</body>

