
<body>
    <div class="container-fluid">
        <div class="container ">
            <div class="d-sm-block d-none">
                <img class="img-fluid d-sm-block d-none" src="/img/Book lover-bro 2.png">
            </div>
            <div class="Cadastrar-se">
                <p>Cadastre-se</p>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nome</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">E-mail</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-4 position-relative">
                        <label for="exampleInputPassword1" class="form-label">Senha</label>
                        <input type="password" class="form-control pe-5" id="exampleInputPassword1">
                        <img src="/img/unlock 1.png" class="input-icon-right" alt="ícone senha">
                    </div>
                    <div class="mb-4 position-relative">
                        <label for="exampleInputPassword1" class="form-label">Confirmação Senha</label>
                        <input type="password" class="form-control pe-5" id="exampleInputPassword1">
                        <img src="/img/lock.png" class="input-icon-right" alt="ícone senha">
                    </div>
                        <button type="submit" class="btn btn-primary" (click)="navigateToHome()">Continuar</button>
                        <p class="Entrar"> Possui conta? <a href="/">Entrar</a></p>
                </form>

            </div>
        </div>

    </div>

</body>

